@font-face { font-family: Digital; src: url('fonts/digital.ttf'); }
@font-face { font-family: Recharge; src: url('fonts/recharge.ttf'); }
html,body{min-height:100%;}
body {background-image: url('img/moontopright.png'), url('img/moonbotleft.png'), url('img/Stars_Pattern_clip_art_hightt.png'); margin:0; padding:0; height:100%;
      background-repeat: no-repeat, no-repeat, repeat;
      background-size: 200px, 200px, 800px;
      background-position: top right, bottom left;
    }
html *{font-size: 23px; color: white; font-family: Recharge;}
#nick, #nick a {font-size: 15px;}
#settings a {color: blue;}
#logo {display: block; margin-left: auto; margin-right: auto;}
#social-links {margin-left: 5px; width: 180px; height: 55px;}
#resources {display: block; position:absolute; left:50%; margin-left:-50px;}
#Tech, #Energy {font-family: Digital;}
#tech, #energy {font-size: 18px;}
#wrapper {min-height:100%; position:relative;}
#andro{display:none;}
#robo{display:none;}
#resLabo{display:none;}
#resFact{display:none;}
#robFact{display:none;}
#cyberLabo{display:none;}
#pwrgen {display:none;}
#generoom {display:none;}
#solarpan {display:none;}
#solarfarm {display:none;}
.container {padding: 0px;}
#cont-up {margin-top: 100px; margin-bottom: 100px;}
.tab1 {color:black; border-bottom: 2px solid #5bc436; font-size: 18px;}
.tab1 span {font-size: 18px;}
.tab2 {color:black; border-bottom: 2px solid #e5e80c; font-size: 18px;}
.tab2 span {font-size: 18px;}
.tab4 {font-size: 18px;}
.tab-content, .tab-content span, .tab-content h5  {background-color: #E8E8F0; color: black;}
.tab-pane {color: black;}
.tab-text, .tab-text span {margin-left: 5px; color: black; font-size: 18px}
#settings p, #settings button, #achievements p {color: black;}
#upgrades {background-image: url('img/achievement3.png'); border-bottom: 1px solid #0847b0;}
#upgrades li {font-size: 18px;}
#achlist li {margin-bottom: 2px;}
#achievements>p {text-align: center;}
#achievements li, h4 {color: black;}
#achievements li {margin-bottom: 2px; font-size: 18px;}
#achievements h5 {margin-left: 5px; text-align: center; color: black;}
#achievements h4 {font-size: 20px;}
#current-version{text-align: center; color: black; background-color: #F7F7F7;}
#done li {color: #1aa30c;}
#to-be-done li {color: #a30c0c;}
.changelog-item {background-color: #F7F7F7;}
.changelog-item h3 {text-decoration: underline; font-size: 22px; color:black; font-family: "Arial";font-weight: bold; margin-left: 5px;}
.changelog-exp {background-image: url('img/achievement3.png');font-size: 30px; color:white; font-family: "Arial"; font-weight: bold; text-align: center; background-color: #F7F7F7;}
.changelog-item li, .changelog-item a {font-size: 20px; color: black; font-family: "Courier New"; font-weight: bold;}
.unlocked {background-color: green;}
#Player-upgrades li, #Tech-upgrades li, #Energy-upgrades li {color: black;}
ul {list-style-type: none;}
#Game-Save {left: 50%; right: 50%; color: white; display: none; position: absolute; width: 200px; height: 50px;}
/* PSEUDO CLASSES */
.btn:hover {background-color: #A1C436;}
#techbtn:hover {background-color: #5bc436; color: black;}
#energybtn:hover {background-color: #e5e80c; color: black;}
#upgradesbtn:hover {background-color: #0c5fe8; color: black;}
#settingsbtn:hover {background-color: #E8930C; color: black;}
#achbtn:hover {background-color: #cc0ce8; color: black;}
#newsbtn:hover {background-color: #e80c26; color: black;}
#upgrades a:hover {color:black;}
ul:hover {color: black;}
.glyphicon {color: #808080;}
.upgrade-unlocked {width: 90px; height: 90px; background-image: url('img/hexbtn90.png'); margin-left: 30px;}
.buttontest {width: 390px; height: 56px;; margin-left: 2px;}
.media-body {background-image: url('img/achievement3.png'); border: 3px solid gray; color: white}
.media-heading {color: rgb(242, 242, 242);margin-left: 5px;}
.media-para {color: #908a84 !important; font-size: 15px; margin-left: 5px;}
.media {height: 50px;}
.achievement-unlocked {background-image: url('img/achievementunlocked.png');height: 50px;border: 3px solid gray;}
.achpoints {float: right; font-size: 30px; margin-right: 3px; color: white !important;}
/*#andro,#robo ,#resLabo, #resFact, #robFact, #cyberLabo {display: none;}*/
.progress {background: rgba(237, 237, 237, 1); border: 1px solid rgba(204, 200, 200, 1); border-radius: 5px; height: 27px;}
.progress-bar-custom {background: rgba(65, 201, 76, 1);}
.progress {background: rgba(237, 237, 237, 1); border: 1px solid rgba(204, 200, 200, 1); border-radius: 5px; height: 27px;}
.progress-bar-custom {background: rgba(53, 166, 63, 1);}
.progress-striped .progress-bar-custom {background-color: rgba(53, 166, 63, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.23),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.23)),color-stop(0.75,rgba(255, 255, 255, 0.23)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.23) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.23) 50%,rgba(255, 255, 255, 0.23) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.23) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.23) 50%,rgba(255, 255, 255, 0.23) 75%,transparent 75%,transparent); background-size: 10px 10px;}
