@font-face { font-family: Digital; src: url('fonts/digital.ttf'); }
@font-face { font-family: Recharge; src: url('fonts/recharge.ttf'); }
@font-face { font-family: LGot; src: url('fonts/lgot.otf'); }

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){

  .footer, .push,#img-bottom, #shadow-bot {display:none}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  #body{background-color: #0b1420;}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  .footer, .push {display:none;}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .footer, .push,#img-bottom, #shadow-bot {display:none}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #0b1420;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
-webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}
/* NO JavaScript fallback*/
.no-js #loader-wrapper {
    display: none;
}
* {
margin: 0;
}
html, body {min-height:100%; }
body {background-image: url('img/background-solid.png'); margin:0; padding:0; height:100%;
      background-repeat: repeat;
      background-size: 800px;
      background-position: top;
      /*background-attachment:fixed;*/
  }
html *{font-size: 23px; color: white; font-family: Recharge;}
audio {height: 25px; width: 300px;}
#top-notify {height: auto ;background-color: #007df1; width: 100%;margin-bottom: 5px;position: relative;overflow: hidden;}
#top-notify p {color: white; font-size: 14px;float:left; margin-top:10px;margin-left: 5px;position: relative;}
#notify-button {background-color: #f1d600; margin-right: 35px;margin-top:3px; float:right}
#nick, #nick a {font-size: 15px;}
#logo-wrapper{background-image:  url('img/Stars_Pattern_clip_art_hightt.png');      background-repeat: repeat;
      background-size: 800px;}
#logo {display: block; margin: 0 auto; width: 900px; }
#resources-bar {padding: 10px;}
     #center-test {
       margin: 0 auto;
       max-width: 900px;

     }
#shadow-top, #shadow-bot {width:100%; height: 15px;}
#shadow-top,#shadow-bot {box-shadow: 0 -5px 5px -5px black;}
#img-bottom {height: 300px; width: 100%; background-image:  url('img/Stars_Pattern_clip_art_hightt.png');      background-repeat: repeat;
      background-size: 800px;}
.resource{font-family: Digital; float: left; width: 170px; }
#clear-both { clear:both; }
#Tech, #Energy, #Credits, #Uranium, #power-balance {font-family: Digital;}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -100px;
overflow: hidden;
}
.currency {margin-bottom: 5px;}
#a-unlocked {z-index: 2; position: fixed;width: 300px; height: 300px;overflow:hidden;margin:0px 0px;}
#hide-engineer{display:none;}
#hide-engineer2{display:none;}
#hide-inventor{display:none;}
#hide-inventor2{display:none;}
#hide-scientist{display:none;}
#hide-scientist2{display:none;}
#hide-robot{display:none;}
#hide-robot2{display:none;}
#hide-android{display:none;}
#hide-android2{display:none;}
#hide-workshop{display:none;}
#hide-workshop2{display:none;}
#hide-research-lab {display:none;}
#hide-research-lab2 {display:none;}
#hide-research-facillity {display:none;}
#hide-research-facillity2 {display:none;}
#hide-robotics-factory {display:none;}
#hide-robotics-factory2 {display:none;}
#hide-cybernetics-lab {display:none;}
#hide-cybernetics-lab2 {display:none;}
#hide-solar-panel {display:none;}
#hide-solar-panel2 {display:none;}
#hide-solar-panel-farm {display:none;}
#hide-solar-panel-farm2 {display:none;}
#hide-thermal-power-station {display:none;}
#hide-thermal-power-station2 {display:none;}
#hide-nuclear-power-plant {display:none;}
#hide-nuclear-power-plant2 {display:none;}
#hide-fusion-reactor {display:none;}
#hide-fusion-reactor2 {display:none;}
#hide-uranium-reactor {display:none;}
#hide-uranium-reactor2 {display:none;}
#hide-uranium-smelter {display:none;}
#hide-uranium-smelter2 {display:none;}
#hide-uranium-refinery {display:none;}
#hide-uranium-refinery2 {display:none;}
#imgexpsave {width: 100px;}
.container {padding: 0px;}
#cont-up {z-index: 1; padding-bottom: 130px;}
.tab1 {border-bottom: 2px solid #9a0707;}
.tab2 {border-bottom: 2px solid #5bc436;}
.tab3 {border-bottom: 2px solid #e5e80c;}
.tab4 {border-bottom: 2px solid #cc0ce8;}
.tab1 span, .tab2 span, .tab3 span, .tab4 span {font-size: 18px;}
.tab1, .tab2, .tab3, .tab4 {color:black; font-size: 18px;}
.tab-content, .tab-content span, .tab-content h5  {background-color: #E8E8F0; color: black;}
.tab-pane {color: black;}
.tab-text, .tab-text span {margin-left: 5px; color: black; font-size: 18px}
#settings p {color: black; font-family: LGot; font-size: 30px; margin-left: 5px;}
#settings button, #achievements p {color: black;}
#settings span {color:red; margin-right: 5px;}
#upgrades {background-image: url('img/achievement3.png'); border-bottom: 1px solid #0847b0;}
#upgrades li {font-size: 18px;}
#settings ul {background-image: url('img/achievement3.png');font-size: 18px;}
#achlist li {margin-bottom: 2px;}
#stats {color: black; padding-top: 5px; padding-bottom: 5px;}
#Save-Tab p, #Site-Tab p, #Statistics-Tab p, #Contact-Tab p, #Credits-Tab p {margin-left: 5px;font-size: 30px;color:black; font-family: "LGot";}
#Save-Tab span, #Contact-Tab span, #Statistics-Tab span, #Credits-Tab span {margin-left: 5px;font-size: 32px;color:blue; font-family: "LGot";}
#achievements>p {text-align: center;}
#achievements li, h4 {color: black;}
#achievements li {margin-bottom: 2px; font-size: 18px;}
#achievements h5 {margin-left: 5px; text-align: center; color: black;}
#achievements h4 {font-size: 20px;}
#current-version{text-align: center; color: black; background-color: #F7F7F7;}
#done li {color: #1aa30c;}
#to-be-done li {color: #a30c0c;}
.changelog-item {background-color: #F7F7F7;}
.changelog-item h3 {text-decoration: underline; font-size: 22px; color:black; font-family: "Arial";font-weight: bold; margin-left: 5px;}
.changelog-exp {background-image: url('img/achievement3.png');font-size: 30px; color:white; font-family: "Arial"; font-weight: bold; text-align: center; background-color: #F7F7F7;}
.changelog-item li, .changelog-item a {font-size: 20px; color: black; font-family: "Courier New"; font-weight: bold;}
.unlocked {background-color: green;}
ul {list-style-type: none;}
textarea {resize: none;color:black; font-size: 10px; width: 500px; height: 200px; margin-left: 5px;}
#Game-Save {left: 50%; right: 50%; color: white; display: none; position: absolute; width: 200px; height: 50px;}
.footer, .push {height: 100px;}
.footer {width: 100%;text-align: center;background-color: #2a2a2a;overflow: hidden;}
.bs-social-buttons {padding-left:0;padding-top: 3px;}
.bs-social-buttons>li {display:inline-block;}
#footer-content, #footer-content a{text-align: center; font-family: LGot; font-size: 30px;}
#github-btn {height: 40px; width: 140px; background-color: black;padding-left: 3px;}
#github-img {height: 30px;width: 30px;float:left; margin-top: 5px;border-right: 1px solid #ffffff;}
#github-txt {position: relative; top: 5px;}
#reddit-btn {height: 40px; width: 140px; background-color: white;padding-left: 3px;}
#reddit-img {height: 35px;width: 35px;float:left; margin-top: 3px;border-right: 1px solid #141313;}
#reddit-txt {position: relative; top: 5px; color:black;}
/* PSEUDO CLASSES */
.btn:hover {background-color: #A1C436;}
#staffbtn:hover {background-color: #9a0707; color: black;}
#techbtn:hover {background-color: #5bc436; color: black;}
#energybtn:hover {background-color: #e5e80c; color: black;}
#uraniumbtn:hover {background-color: #cc0ce8; color: black;}
#upgradesbtn:hover {background-color: #0c5fe8; color: black;}
#settingsbtn:hover {background-color: #E8930C; color: black;}
#settings li:hover {background-color:black;}
#upgrades a:hover {color:black;}
#settings a:hover {color:black;}
#github-btn:hover {background-color: #9b06c7;}
#reddit-btn:hover {background-color: #f7670b;}
.dropdown-menu > li > a:hover {background-color: #E8930C;background-image: none;}
ul:hover {color: black;}
.glyphicon {color: #808080;}
.upgrade-unlocked {width: 90px; height: 90px; background-image: url('img/hexbtn90.png'); margin-left: 30px;}
.buttontest {width: 390px; height: 56px;; margin-left: 2px;}
.media-body {background-image: url('img/achievement3.png'); border: 3px solid gray; color: white}
.media-heading {color: rgb(242, 242, 242);margin-left: 5px;}
.media-para {color: #908a84 !important; font-size: 15px; margin-left: 5px;}
.media {height: 50px;}
.achievement-unlocked {background-image: url('img/achievementunlocked.png');height: 50px;border: 3px solid gray;}
.achpoints {float: right; font-size: 30px; margin-right: 3px; color: white !important;}
/*#andro,#robo ,#resLabo, #resFact, #robFact, #cyberLabo {display: none;}*/
.progress {background: rgba(237, 237, 237, 1); border: 1px solid rgba(204, 200, 200, 1); border-radius: 5px; height: 27px;}
.progress-bar-custom {background: rgba(65, 201, 76, 1);}
.progress {background: rgba(237, 237, 237, 1); border: 1px solid rgba(204, 200, 200, 1); border-radius: 5px; height: 27px;}
.progress-bar-custom {background: rgba(53, 166, 63, 1);}
.progress-striped .progress-bar-custom {background-color: rgba(53, 166, 63, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.23),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.23)),color-stop(0.75,rgba(255, 255, 255, 0.23)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.23) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.23) 50%,rgba(255, 255, 255, 0.23) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.23) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.23) 50%,rgba(255, 255, 255, 0.23) 75%,transparent 75%,transparent); background-size: 10px 10px;}
